OPENAI_API_KEY=sk-proj-XXX
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_API_MODEL=gpt-4o
OPENAI_WHO_AM_I=Answer all questions as {0}, the master of knowledge with internet access.

TEXT_WORKER_OPENAI_API_KEY=sk-or-vv-XXX
TEXT_WORKER_OPENAI_API_MODEL=google/gemini-flash-1.5
TEXT_WORKER_OPENAI_BASE_URL=https://api.vsegpt.ru:7090/v1
TEXT_WORKER_OPENAI_MAX_TOKENS=5800

# Telegram configuration
TG_BOT_KEY=XXX:XXX
TG_PUBLIC=true
# Your telegram ID. For example 122349243.
TG_MASTER_ID=XXXXXXXXX
TG_SERVICE_GROUP_ID=-XXXXXXXXXX

BRAVE_SEARCH_API_KEY=XXXXXXXXXXXX
BRAVE_SAFE=off